@use 'variables' as v;
@use 'mixins' as m;

header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px clamp(16px, 2.381vw + 2.667px, 96px);
  @include m.content-width;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 13.56%, rgba(0, 0, 0, 0.6) 84.01%);
}

.initials {
  svg {
    width: 133px;
    height: 48px;
  }
}

.switch {
  position: relative;
  display: flex;
  width: 84px;
  height: 28px;

  border: 2px solid #3dcfb6;
  border-radius: 999px;
  overflow: hidden;

  button {
    flex: 1;
    border: none;
    background: transparent;
    z-index: 2;
    cursor: pointer;
    color: #3dcfb6;
    opacity: 50%;
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 1rem;
  }

  .slider {
    position: absolute;
    width: 50%;
    height: 100%;
    background: #3dcfb6;
    border-radius: 999px;
    transition: transform 0.3s ease;
    z-index: 1;
  }

  &.de .slider {
    transform: translateX(100%);
  }

  &:not(.de) button:first-of-type,
  &.de button:last-of-type {
    color: white;
    font-weight: 700;
    opacity: 1;
  }
}

nav {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: clamp(1.125rem, calc(1.089rem + 0.1786vw), 1.25rem);
    line-height: 100%;
    letter-spacing: -3%;
    position: relative;

    &::after {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: transparent;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      transition: background 0.2s ease;
    }

    &:hover::after {
      background: v.$secondary-color;
    }

    &.active {
      color: v.$secondary-color;
      &::after {
        background: v.$secondary-color;
      }
    }
  }
}

.burger-button {
  display: none;
  button {
    background: none;
    border: none;
    cursor: pointer;

    svg {
      transition: fill 150ms ease-in-out;
      fill: white;
    }

    &:hover {
      svg {
        fill: v.$secondary-color;
      }
    }
  }
}

@media (max-width: 767px) {
  header {
    height: 50px;
    padding: 16px 16px 0;
  }
  .initials {
    order: 1;
  }

  nav {
    order: 2;
    position: absolute;
    width: 239px;
    height: 252px;
    padding: 40px 75px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 70px;
    right: 10px;
    border: 1px solid v.$secondary-color;
    border-radius: 30px;
    background: linear-gradient(135deg, #0a0f0e 0%, #0f1f1d 40%, #0f3a36 70%, #0b2a26 100%);
    z-index: 100;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-12px);
    transition:
      opacity 300ms ease,
      transform 300ms ease;

    &.open {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    .switch {
      order: 1;
    }
  }

  .burger-button {
    display: block;
    order: 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .burger-button {
    display: none;
  }
}
