<section class="about__me" id="about">
  <div class="portrait"><img src="/assets/img/profile_picture.jpg" alt="placeholder" /></div>
  <div class="about__text">
    <p class="about__text__title">{{ 'about.title' | translate }}</p>
    <div class="about__detail">
      <h3>{{ 'about.heading' | translate }}</h3>
      <p>{{ 'about.intro' | translate }}</p>
      <ul>
        <li>
          <img src="/assets/icons/location-icon.svg" alt="location-pin" />
          <p>
            {{ 'about.items.location' | translate }}
          </p>
        </li>
        <li>
          <img src="/assets/icons/mind-set-icon.svg" alt="" />
          <p>{{ 'about.items.mindset' | translate }}</p>
        </li>
        <li>
          <img src="/assets/icons/about-me-icon.svg" alt="" />
          <p>{{ 'about.items.problem' | translate }}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
