path {
  vector-effect: non-scaling-stroke;
  stroke-width: 1;
  fill-opacity: 1;
  stroke-opacity: 0;
  stroke: white;
  transition:
    fill-opacity 300ms ease-in-out,
    stroke-opacity 300ms ease-in-out;
}

:host(:hover) path {
  fill-opacity: 0;
  stroke-opacity: 1;
}

:host(:hover) .logo-mm {
  stroke: #3dcfb6;
}

.w {
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}
