// Colors
$primary-color: #1c1c1c;
$secondary-color: #3dcfb6;
$error-color: #ec7b7b;

// Border Radius
$border-radius-card: 30px;
$border-radius-small: 16px;
$border-radius-pill: 999px;

// Transitions
$transition-default: 250ms ease-in-out;
$transition-fast: 150ms ease-in-out;

// Section Spacing
$section-padding-x: 96px;
$section-padding-x-tablet: 48px;
$section-padding-x-mobile: 16px;
$section-padding-y: 72px;
$section-padding-y-mobile: 50px;
