<section class="contact" id="contact">
  <div class="contact__text">
    <span>{{ 'contact.title' | translate }}</span>
    <h3>{{ 'contact.heading' | translate }}</h3>
    <h4>{{ 'contact.subheading' | translate }}</h4>
    <p>{{ 'contact.intro' | translate }}</p>
    <p>
      {{ 'contact.cta_text' | translate }} <span>{{ 'contact.cta_span' | translate }}</span>
    </p>
  </div>
  <div class="contact__form">
    <div class="contact__form__name">
      <label>
        {{ 'contact.name_label' | translate }}
        <input
          [formField]="contactForm.name"
          type="text"
          [placeholder]="
            contactForm.name().invalid() && contactForm.name().touched()
              ? (contactForm.name().errors()[0].message | translate)
              : ('contact.name_placeholder' | translate)
          "
          [class.invalid]="contactForm.name().invalid() && contactForm.name().touched()"
        />
      </label>
      <div></div>
    </div>
    <div class="contact__form__mail">
      <label>
        {{ 'contact.email_label' | translate }}
        <input
          [formField]="contactForm.email"
          type="email"
          [placeholder]="
            contactForm.email().value() === '' &&
            contactForm.email().invalid() &&
            contactForm.email().touched()
              ? (contactForm.email().errors()[0].message | translate)
              : ('contact.email_placeholder' | translate)
          "
          [class.invalid]="contactForm.email().invalid() && contactForm.email().touched()"
        />
        @if (
          contactForm.email().value() !== '' &&
          contactForm.email().invalid() &&
          contactForm.email().touched()
        ) {
          <div class="email-tooltip">
            <span>{{ contactForm.email().errors()[0].message | translate }}</span>
          </div>
        }
      </label>
      <div></div>
    </div>
    <div class="contact__form__message">
      <label>
        {{ 'contact.message_label' | translate }}
        <input
          [formField]="contactForm.message"
          type="text"
          [placeholder]="
            contactForm.message().invalid() && contactForm.message().touched()
              ? (contactForm.message().errors()[0].message | translate)
              : ('contact.message_placeholder' | translate)
          "
          [class.invalid]="contactForm.message().invalid() && contactForm.message().touched()"
        />
      </label>
      <div></div>
    </div>
    <div class="contact__form__checkbox">
      <div class="privacy-checkbox">
        <input id="privacyAccepted" type="checkbox" [formField]="contactForm.privacyAccepted" />
        <label for="privacyAccepted" class="checkbox__container">
          <svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 4.5L4.5 8L11 1"
              stroke="#3DCFB6"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </label>
        <span class="privacy-checkbox__text">
          {{ 'contact.privacy_text' | translate }}
          <a href="">{{ 'contact.privacy_link' | translate }}</a>
          {{ 'contact.privacy_text2' | translate }}
        </span>
      </div>

      <div class="error-container">
        <span
          class="error"
          [class.visible]="
            contactForm.privacyAccepted().invalid() && contactForm.privacyAccepted().touched()
          "
        >
          {{ 'contact.errors.privacy_required' | translate }}
        </span>
      </div>
    </div>
    <app-button
      type="submit"
      [disabled]="contactForm().invalid()"
      [label]="'contact.submit' | translate"
    ></app-button>
  </div>
</section>
