<section class="contact" id="contact">
  <div class="contact__text">
    <span>Contact me</span>
    <h3>Let's work together</h3>
    <h4>Got a problem to solve?</h4>
    <p>
      I'm a motivated Fullstack Developer who genuinely cares about the work I do. I bring a sharp
      eye for detail, a willingness to learn fast, and the drive to actually get things done — not
      just talk about them. If you're looking for someone who shows up, thinks along, and adds real
      value to your team: I'm your guy.
    </p>
    <p>Need a Fullstack developer? <span>Let's talk!</span></p>
  </div>
  <div class="contact__form">
    <div class="contact__form__name">
      <label>
        What's your name?
        <input
          [formField]="contactForm.name"
          type="text"
          [placeholder]="
            contactForm.name().invalid() && contactForm.name().touched()
              ? contactForm.name().errors()[0].message
              : 'Your name goes here'
          "
          [class.invalid]="contactForm.name().invalid() && contactForm.name().touched()"
        />
      </label>
      <div></div>
    </div>
    <div class="contact__form__mail">
      <label>
        What's your email?
        <input
          [formField]="contactForm.email"
          type="email"
          [placeholder]="
            contactForm.email().value() === '' &&
            contactForm.email().invalid() &&
            contactForm.email().touched()
              ? contactForm.email().errors()[0].message
              : 'youremail@email.com'
          "
          [class.invalid]="contactForm.email().invalid() && contactForm.email().touched()"
        />
        @if (
          contactForm.email().value() !== '' &&
          contactForm.email().invalid() &&
          contactForm.email().touched()
        ) {
          <div class="email-tooltip">
            <span>{{ contactForm.email().errors()[0].message }}</span>
          </div>
        }
      </label>
      <div></div>
    </div>
    <div class="contact__form__message">
      <label>
        How can i help you?
        <input
          [formField]="contactForm.message"
          type="text"
          [placeholder]="
            contactForm.message().invalid() && contactForm.message().touched()
              ? contactForm.message().errors()[0].message
              : 'Hello Mathias, I am interested in... '
          "
          [class.invalid]="contactForm.message().invalid() && contactForm.message().touched()"
        />
      </label>
      <div></div>
    </div>
    <div class="contact__form__checkbox">
      <div class="privacy-checkbox">
        <input id="privacyAccepted" type="checkbox" [formField]="contactForm.privacyAccepted" />
        <label for="privacyAccepted" class="checkbox__container">
          <svg width="12" height="9" viewBox="0 0 12 9" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M1 4.5L4.5 8L11 1"
              stroke="#3DCFB6"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </label>
        <span class="privacy-checkbox__text">
          I've read the <a href="">privacy policy</a> and agree to the processing of my data as
          outlined.
        </span>
      </div>

      <div class="error-container">
        <span
          class="error"
          [class.visible]="
            contactForm.privacyAccepted().invalid() && contactForm.privacyAccepted().touched()
          "
        >
          Please accept the privacy policy.
        </span>
      </div>
    </div>
    <app-button type="submit" [disabled]="contactForm().invalid()" label="Say Hello ;)"></app-button>
  </div>
</section>