<section id="skills">
  <div class="skill__text">
    <p class="skill__text__title">{{ 'skills.title' | translate }}</p>
    <div class="skill__text__box">
      <h3>{{ 'skills.heading' | translate }}</h3>
      <p>
        {{ 'skills.intro' | translate }}
      </p>
      <h4>
        {{ 'skills.cta_heading' | translate }}
        <span>{{ 'skills.cta_heading_span' | translate }}</span>
      </h4>
      <p>{{ 'skills.cta_text' | translate }}</p>
      <app-button [label]="'skills.cta_btn' | translate" href="#contact"></app-button>
    </div>
  </div>
  <div class="skill__overview">
    @for (skill of skills; track skill.name) {
      <div
        class="skill__item"
        [class.has-tooltip]="skill.tooltip"
        [class.tooltip-active]="activeTooltip() === skill.name"
        (pointerenter)="onPointerEnter(skill, $event)"
        (pointerleave)="onPointerLeave(skill, $event)"
        (pointerdown)="onPointerDown(skill, $event)"
        (pointerup)="onPointerUp(skill)"
        (pointercancel)="onPointerUp(skill)"
      >
        @if (skill.tooltip) {
          <div class="skill__tooltip">
            <p>{{ 'skills.tooltip' | translate }}</p>
            <div class="skill__tooltip__wrapper">
              <div class="skill__tooltip__icon">
                <img src="/assets/icons/react-logo.svg" alt="React" />
                <p>React</p>
              </div>
              <div class="skill__tooltip__icon">
                <img src="/assets/icons/vue-logo.svg" alt="Vue.js" />
                <p>Vue.js</p>
              </div>
            </div>
          </div>
        }
        <img [src]="skill.icon" [alt]="skill.name" />
        <p>{{ skill.name }}</p>
      </div>
    }
  </div>
</section>
