@use 'variables' as v;
@use 'mixins' as m;

footer {
  width: 100%;

  background-color: v.$primary-color;
  padding: 72px 96px 64px;
  margin-top: auto;

  @include m.space-between;
}

.initials {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 36px;
    height: 48px;
  }

  p {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 1.75rem;
    color: white;
    line-height: 90%;
  }
}

.person_info {
  @include m.left-align;
  gap: 30px;
}

.sub_info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    color: white;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
  }
}

.copyright {
  p {
    color: v.$secondary-color;
    font-family: 'Fira Code';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 120%;
  }
}

.links {
  @include m.left-align;
  gap: 8px;

  a {
    font-family: 'Karla';
    font-weight: 400;
    font-size: 1rem;
    line-height: 120%;
  }
}

ul {
  list-style: none;

  li a {
    transition: all 250ms ease-in-out;
  }

  li::before {
    content: '•';
    color: v.$secondary-color;
    margin-right: 0.5rem;
    opacity: 0;
    transition: opacity 250ms;
  }
  li:hover:before {
    opacity: 1;
  }

  li:hover a {
    transition: all 250ms ease-in-out;
    color: v.$secondary-color;
  }
}
