footer {
  width: 100%;

  background-color: #1c1c1c;
  padding: 64px 96px;
  margin-top: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.initials {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 36px;
    height: 48px;
  }

  p {
    font-family: 'Karla';
    font-weight: 700;
    font-size: 1.75rem;
    color: white;
    line-height: 90%;
  }
}
