<footer [class.transparent]="isLegalPage()">
  <article class="person">
    <div class="person_info">
      <a href="#home">
        <div class="initials">
          <app-logo [alwaysExpanded]="true"></app-logo></div
      ></a>
      <div class="sub_info">
        <p>Fullstack Developer</p>
        <p>Leipzig Germany</p>
      </div>
    </div>
  </article>
  <article class="copyright">
    <p>© Mathias Mayer 2026</p>
  </article>
  <article class="link-list">
    <ul class="links">
      <li>
        <a href="https://github.com/Xargall" target="_blank" rel="noopener noreferrer">GitHub</a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/mayer-mathias"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li><a href="mailto: mayer.mathias@proton.me">Email</a></li>
      <li><a [routerLink]="'/legal-notice'">Legal Notice</a></li>
    </ul>
  </article>
</footer>
