@use 'variables' as v;
@use 'mixins' as m;

footer {
  width: 100%;
  background-color: v.$primary-color;
  padding: v.$section-padding-y v.$section-padding-x 64px;
  margin-top: auto;
  @include m.space-between;
  @include m.content-width;

  &.transparent {
    background: transparent;
  }
}

.initials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.person_info {
  @include m.left-align;
  gap: 30px;
}

.sub_info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  p {
    @include m.font-karla(400, 1rem, 120%);
    color: white;
  }
}

.copyright {
  p {
    @include m.font-fira(400, 1.125rem, 120%);
    color: v.$secondary-color;
  }
}

.links {
  @include m.left-align;
  gap: 8px;

  a {
    @include m.font-karla(400, 1rem, 120%);
  }
}

ul {
  list-style: none;

  li a {
    transition: all v.$transition-default;
  }

  li::before {
    content: '•';
    color: v.$secondary-color;
    margin-right: 0.5rem;
    opacity: 0;
    transition: opacity v.$transition-default;
  }

  li:hover::before {
    opacity: 1;
  }

  li:hover a {
    color: v.$secondary-color;
  }
}

@media screen and (max-width: 767px) {
  footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    row-gap: 32px;
    column-gap: 10px;
    padding: v.$section-padding-y-mobile v.$section-padding-x-mobile 32px;
  }

  .person {
    grid-column: 1;
    grid-row: 1;
  }

  .person_info {
    gap: 16px;
  }

  .link-list {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  .links {
    text-align: center;
    align-items: flex-start;
  }

  .copyright {
    grid-column: 1 / -1;
    grid-row: 2;
    text-align: center;
    padding-top: 24px;
  }
}
