@use '../../../styles/variables' as v;

.legal-notice {
  max-width: 880px;
  margin: 0 auto;
  padding: clamp(40px, 5vw, 80px) clamp(16px, 5vw, 48px);

  h1 {
    font-size: clamp(1.5rem, 0.786rem + 3.571vw, 4rem);
    font-family: 'Fira Code';
    font-weight: 700;
    color: v.$secondary-color;
    margin-bottom: 40px;
  }

  h2 {
    font-size: clamp(19px, 24.486px - 0.381vw, 23px);
    font-family: 'Karla';
    font-weight: 700;
    color: white;
    margin-top: 48px;
    margin-bottom: 24px;
  }

  p {
    font-size: 1rem;
    font-family:'Karla';
    font-weight: 400;
    color: v.$secondary-color;

    line-height: 1.7;
    margin-bottom: 16px;
  }

  a {
    word-break: break-all;
  }
}
