@use 'variables' as v;
@use 'mixins' as m;

.project__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 72px 96px 80px;
  background: v.$primary-color;
  @include m.content-width;

  span {
    font-family: 'Karla';
    font-weight: 700;
    font-size: clamp(1rem, 0.857rem + 0.714vw, 1.5rem);
    line-height: 100%;
    color: v.$secondary-color;
  }

  h3 {
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: clamp(3rem, 2.714rem + 1.429vw, 4rem);
    line-height: 100%;
    letter-spacing: -3%;
    color: v.$secondary-color;
    margin: 20px 0 40px;
  }

  p {
    font-family: 'Karla';
    font-weight: 400;
    font-size: clamp(1rem, 0.964rem + 0.179vw, 1.125rem);
    line-height: 120%;
    color: white;
  }
}

.project {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;

  &__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 880px;
    height: 110px;
    padding: 0 32px;
    border-bottom: 1px solid v.$secondary-color;
    transition: all 150ms ease-in-out;
    cursor: pointer;

    &:first-child {
      border-top: 1px solid v.$secondary-color;

      .project__preview {
        top: -10px;
      }
    }

    &:last-child {
      .project__preview {
        bottom: -10px;
      }
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        opacity: 0;
      }
    }

    h4 {
      font-family: 'Fira Code';
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 120%;
      color: white;
    }

    ul {
      display: flex;
      list-style: none;

      li {
        font-family: 'Karla';
        font-weight: 400;
        font-size: clamp(1rem, 0.964rem + 0.179vw, 1.125rem);
        line-height: 120%;
        letter-spacing: 0%;
        color: white;
        padding: 0 4px;
      }
    }

    &:hover {
      background: rgba(v.$secondary-color, 0.3);
      transition: all 150ms ease-in-out;

      svg {
        opacity: 1;
        transition: all 150ms ease-in-out;
      }
    }
  }

  &__preview {
    width: 295px;
    height: 192px;
    border-radius: 16px;
    position: absolute;
    left: 107%;

    &__bg {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        inset: 0;
        top: 30px;
        bottom: -20px;
        right: -20px;
        border-radius: 16px;
        background: repeating-linear-gradient(
          135deg,
          transparent,
          transparent 8px,
          v.$secondary-color 8px,
          v.$secondary-color 9px
        );
      }
    }

    img {
      width: 295px;
      height: 192px;
      border-radius: 16px;
      position: relative;
      z-index: 1;
    }
  }
}

.separator::after {
  content: '|';
  padding-left: 4px;
  color: v.$secondary-color;
}

@media screen and (max-width: 767px) {
  .project__section {
    padding: 50px 16px;
  }

  .project__preview {
    display: none;
  }

  .project__slide {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 0;

    ul {
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project__preview {
    display: none;
  }

  
}
