@use 'variables' as v;
@use 'mixins' as m;

.reference {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: v.$primary-color;
  padding: 72px 96px;
  @include m.content-width;

  &__title {
    font-family: 'Fira Code';
    font-weight: 700;
    font-size: clamp(1.25rem, 0.714rem + 1.429vw, 2rem);
    color: v.$secondary-color;
    margin-bottom: 48px;
  }

  &__quote {
    position: absolute;
    top: 10px;
    left: calc(50% - 375px);
    z-index: 11;
    line-height: 0;

    svg {
      width: clamp(48px, 6vw + 24px, 90px);
      height: auto;
    }
  }

  &__slider {
    height: 300px;
    width: calc(100% + 192px);
    position: relative;
    overflow: hidden;
    margin-left: -96px;
    margin-right: -96px;
    display: grid;
    place-items: center;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 200px;
      z-index: 10;
      pointer-events: none;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, v.$primary-color 30%, transparent 100%);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, v.$primary-color 30%, transparent 100%);
    }
  }

  &__card {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    max-width: 632px;
    min-height: 248px;
    padding: 52px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(v.$secondary-color, 0.1);
    border: 1px solid v.$secondary-color;
    border-radius: 32px;
    transition:
      transform 500ms ease-in-out,
      opacity 500ms ease-in-out,
      scale 500ms ease-in-out,
      background 500ms ease-in-out;

    z-index: -1;

    &.active {
      scale: 1.05;
      background: rgba(v.$secondary-color, 0.3);
      z-index: 2;
    }

    &.left,
    &.right {
      opacity: 0.5;
      z-index: 1;
      cursor: pointer;
    }

    &.far-left,
    &.far-right {
      opacity: 0;
      transition: none;
      pointer-events: none;
    }

    p {
      font-family: 'Karla';
      font-weight: 400;
      font-size: clamp(1rem, 0.821rem + 0.476vw, 1.25rem);
      line-height: 120%;
      color: white;
    }

    &__person {
      display: flex;
      align-items: center;
      gap: 16px;

      hr {
        flex: 1;
        border: none;
        border-top: 1px solid white;
      }
      p {
        font-family: 'Karla';
        font-weight: 400;

        font-size: clamp(1rem, 0.911rem + 0.238vw, 1.125rem);
        line-height: 120%;
        color: white;
      }
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;

  &.active {
    background-color: v.$secondary-color;
  }
}

@media screen and (max-width: 767px) {
  .reference {
    padding: 50px 16px;

    &__title {
      text-align: center;
      margin: 0;
    }

    &__slider {
      width: calc(100% + 32px);
      height: 340px;
      margin-left: -16px;
      margin-right: -16px;

      &::before,
      &::after {
        display: none;
      }
    }

    &__quote {
      top: 10px;
      left: 11%;
      transform: translateX(-50%);
    }

    &__card {
      max-width: calc(100% - 32px);
      min-height: 280px;
      padding: 40px;
    }
  }
}
